.ui-adds {
    height: 50px;
    color: #90bd24;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px dashed #8fbf00;
    transition: border-color $a-time $a-func, color $a-time $a-func;

    &__ico {
        width: 31px;
        height: 31px;
        border-radius: 50%;
        line-height: 31px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        background-color: #90bd24;
        transition: background-color $a-time $a-func;

        &__src {
            width: 21px;
            height: 21px;
            stroke: #fff;
            fill: currentColor;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__title {
        font-size: 1.4rem;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;

        &:not(:first-child) {
            margin-left: 10px;
        }
    }

    &:hover:not([disabled]) {
        color: #679421;
        border-color: #679421;
    }

    &:hover:not([disabled]) &__ico {
        background-color: #679421;
    }

    &[disabled] {
        color: #D5D5D5;
        cursor: not-allowed;
        border-color: #D5D5D5;
    }

    &[disabled] &__ico {
        background-color: #D5D5D5;
    }
}
