.label {
    color: #fff;
    padding: 4px 5px;
    font-size: 1.2rem;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.04rem;
    background-color: #ff5c00;
}
