.ui-radio {
    font-size: 0;
    line-height: 1;
    cursor: pointer;
    user-select: none;
    position: relative;
    display: inline-block;

    &--inline {}

    &--box {
        width: 100%;
        height: 89px;
        padding: 10px 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__input {
        width: 0;
        height: 0;
        left: 0;
        top: 0;
        opacity: 0;
        position: absolute;
    }

    &__visible {
        width: 18px;
        height: 18px;
        outline: 0;
        cursor: pointer;
        overflow: hidden;
        user-select: none;
        border-radius: 50%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #a8a8a8;
        background-color: #fff;

        &:before {
            width: 8px;
            height: 8px;
            content: "";
            display: none;
            position: absolute;
            pointer-events: none;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            margin-left: -4px;
            margin-top: -4px;
            background-image: linear-gradient(180deg, #ffffff 0%, #cdd3d7 100%);
        }
    }

    &__box {
        position: absolute 0;
        z-index: -1;
        background-color: #fff;
        border: 1px solid #bebebe;
        transition: background-color $a-time $a-func, border-color $a-time $a-func;
    }

    &__input:checked + &__visible {
        border-color: #679421;
        background-color: #679421;

        &:before {
            display: block;
        }
    }

    &__input:checked + &__visible + &__box {
        border-color: #8fbf00;
        background-color: rgba(143, 191, 0, 0.1);
    }

    &__input:disabled + &__visible {
        cursor: default;
        border-color: #d5d5d5;
        background-color: #f6f6f6;

        &:before {
            border-color: #d5d5d5;
        }
    }

    &__label {
        color: #2f2f2f;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 16px;
        font-weight: 400;
        margin-left: 10px;
        letter-spacing: 0.01ex;
        display: inline-block;
        vertical-align: middle;

        &__middle {
            margin-top: -1px;
            line-height: 1.3;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
