# Корневой файл EditorConfig
root = true

# Для всех файлов используем unix-совместимые переносы строк
[*]
end_of_line = lf
indent_style = space
charset = Windows-1251
trim_trailing_whitespace = true
insert_final_newline = true

# отступы в 4 пробела
[*.py]
indent_style = space
indent_size = 4

[*.{json,js,jsx,html,css}]
indent_style = space
indent_size = 4

# Только для файлов package.json or .travis.yml
[{package.json,.travis.yml}]
indent_size = 4
indent_style = space

[.eslintrc]
file_type = yaml
indent_style = space
indent_size = 4

[*.md]
syntax = markdown, md, Mark Down
trim_trailing_whitespace = false

[*.{css, scss, sass}]
syntax = postcss, scss, sass, css
file_type = postcss, scss, sass, css

[*.nunjucks,html]
syntax = nunjucks, jinja2, html
