<h4 class="page__title"><span class="page__title__text">Ключевые заказчики</span></h4>

<div class="carousel carousel_icons">
	<div class="carousel__wrapper js-carousel clearfix" data-viewcount="4">
		
		<div class="carousel__item slick-slide">
			<a href="" class="carousel__item__image">
				<img src="./images/carousel/1.png" alt="" class="carousel__item__image__src">
			</a>
		</div>

		<div class="carousel__item slick-slide">
			<a href="" class="carousel__item__image">
				<img src="./images/carousel/2.png" alt="" class="carousel__item__image__src">
			</a>
		</div>

		<div class="carousel__item slick-slide">
			<a href="" class="carousel__item__image">
				<img src="./images/carousel/3.png" alt="" class="carousel__item__image__src">
			</a>
		</div>
	
		<div class="carousel__item slick-slide">
			<a href="" class="carousel__item__image">
				<img src="./images/carousel/4.png" alt="" class="carousel__item__image__src">
			</a>
		</div>

		<div class="carousel__item slick-slide">
			<a href="" class="carousel__item__image">
				<img src="./images/carousel/2.png" alt="" class="carousel__item__image__src">
			</a>
		</div>

	</div>
</div>