<footer class="layout-footer" itemscope="itemscope" itemtype="http://schema.org/WPFooter">
	<div class="layout-footer__wrapper">
		
		<div class="layout-footer__copiright"></div>
		
		<nav class="layout-footer__navigation">
			<ul class="layout-footer__navigation__list">
				<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__item__link"></a></li>
				<li class="layout-footer__navigation__item"><a href="" class="layout-footer__navigation__item__link"></a></li>
			</ul>
		</nav>
		
	</div>
</footer>