<span class="sandwich js-sandwich-menu">
	<span class="sandwich__layer">Menu</span>
</span>

<div class="menu-overlay" id="menu-overlay"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
	<div class="layout-header__wrapper">
		
		<a href="/markup/index.html" class="layout-header__logo logo" rel="home" itemprop="url" accesskey="1" data-instant>
			<span itemprop="name"></span>
		</a>
		
	</div>
</header>

<nav class="navigation" id="navigation" role="navigation">
	<div class="navigation__wrapper">
		<ul class="navigation__list">
		    
		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'index'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Страница</span>
		    	</a>
	    	</li>

		    <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
		    	<a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'index'){ _current}">
		    		<span class="navigation__link__name" itemprop="name">Страница</span>
		    	</a>
	    	</li>

		</ul>
	</div>
</nav>

<!--  -->

<header class="cd-morph-dropdown">
	<a href="#0" class="nav-trigger">Open Nav<span aria-hidden="true"></span></a>
	
	<nav class="main-nav">
		<ul>
			<li class="has-dropdown gallery" data-content="about">
				<a href="#0">About</a>
			</li>
 
			<li class="has-dropdown links" data-content="pricing">
				<a href="#0">Pricing</a>
			</li>
 
			<li class="has-dropdown button" data-content="contact">
				<a href="#0">Contact</a>
			</li>
		</ul>
	</nav>
	
	<div class="morph-dropdown-wrapper">
		<div class="dropdown-list">
			<ul>
				<li id="about" class="dropdown gallery">
					<!-- dropdown content here -->
				</li>
 
				<li id="pricing" class="dropdown links">
					<!-- dropdown content here -->
				</li>
 
				<li id="contact" class="dropdown button">
					<!-- dropdown content here -->
				</li>
			</ul>
 
			<div class="bg-layer" aria-hidden="true"></div>
		</div> <!-- dropdown-list -->
	</div> <!-- morph-dropdown-wrapper -->
</header>