<picture>
    <source srcset="/path/to/image.webp" type="image/webp">
    <img src="/path/to/image.jpg" alt="">
</picture>

<picture>   
    <source srcset='paul_irish.jxr' type='image/vnd.ms-photo'>  
    <source srcset='paul_irish.jp2' type='image/jp2'>
    <source srcset='paul_irish.webp' type='image/webp'>
    <img src='paul_irish.jpg' alt='paul'>
</picture>

<picture>
    <source srcset="photo.jxr" type="image/vnd.ms-photo">
    <source srcset="photo.jp2" type="image/jp2">
    <source srcset="photo.webp" type="image/webp">
    <img src="photo.jpg" alt="My beautiful face">
</picture>

<img class="b-lazy"
    src="placeholder-image.jpg"
    data-src="image.jpg"
    data-src-small="small-image.jpg"
    alt="Image description" />