<!DOCTYPE html>
<!-- (c) lnk. celebro | http://www.celebro.ru/ -->
<html lang="ru" class="no-js" itemscope="itemscope" xmlns="http://www.w3.org/1999/xhtml" itemtype="http://schema.org/WebPage">
<head> 
    <link rel="stylesheet" href="../css/main.min.css">

    <meta charset="UTF-8">
    <meta content="on" http-equiv="cleartype">
    <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="skype_toolbar_parser_compatible" name="skype_toolbar">
    <meta content="none" http-equiv="x-rim-auto-match">
    <meta content="true" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="date=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta content="telephone=no" name="format-detection">
   
    <script>(function(d) { d.className = d.className.replace(/\bno-js/, ''); })(document.documentElement);</script>
    <title itemprop="name">@@title</title>
</head>
<body@@if (typeof(bodyclass) !== 'undefined' && bodyclass !== ''){ class="@@bodyclass"}>