<nav class="navigation" role="navigation">
    <div class="navigation__wrapper">
        <ul class="navigation__list">

            <li class="navigation__item" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <a href="./main.html" itemprop="url" class="navigation__link{% if current == 'main' %} is-current{% endif %}">
                    <span class="navigation__link__name" itemprop="name">Главная</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <a href="./index.html" itemprop="url" class="navigation__link{% if current == 'index' %} is-current{% endif %}">
                    <span class="navigation__link__name" itemprop="name">Страница</span>
                </a>
            </li>

        </ul>
    </div>
</nav>
