<nav class="navigation" role="navigation">
    <div class="navigation__wrapper">
        <ul class="navigation__list">
            
            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'index'){ _current}">
                    <span class="navigation__link__name" itemprop="name">Страница</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="/markup/index.html" itemprop="url" class="navigation__link@@if (typeof current !== 'undefined' && current == 'index'){ _current}">
                    <span class="navigation__link__name" itemprop="name">Страница</span>
                </a>
            </li>

        </ul>
    </div>
</nav>