<nav class="pagination clearfix">
	<ol class="pagination__list" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
		<li class="pagination__item"><a href="" class="pagination__item__text">в начало</a></li>
		<li class="pagination__item"><a href="" class="pagination__item__nav pagination__item__nav_prev" rel="prev"></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page current"><span itemprop="name">1</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">2</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">3</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">4</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">5</span></a></li>
		<li class="pagination__item"><a href="" itemprop="url" class="pagination__item__page"><span itemprop="name">6</span></a></li>
		<li class="pagination__item"><a href="" class="pagination__item__nav pagination__item__nav_next" rel="next"></a></li>
		<li class="pagination__item"><a href="" class="pagination__item__text">в конец</a></li>
	</ol>
</nav>