<script src="/js/vendors.min.js"></script>
<script src="/js/libs.min.js"></script>
<script src="/js/app.min.js"></script>

<!--
@@if (typeof map !== 'undefined' && map === true) {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=googleMap"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&onload=yandexMap" async></script>
}
-->

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
<![endif]-->

</body>
</html>