<script src="../js/vendor.min.js"></script>
<script src="../js/app.min.js"></script>

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
<![endif]-->

<!-- 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=googleMap"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
-->

<!--[if IE 9]>
    <script src="//cdn.rawgit.com/jpillora/xdomain/0.7.5/dist/xdomain.min.js"></script>
    <script>
        xdomain.slaves({
            "http://www.gosuslugi.ru": "/corsproxy/proxy.html",
            "https://www.gosuslugi.ru": "/corsproxy/proxy.html",
            "http://pgu-devsf.test.gosuslugi.ru": "/corsproxy/proxy.html",
            "https://pgu-devsf.test.gosuslugi.ru": "/corsproxy/proxy.html",
            "http://gosbar.gosuslugi.ru": "/corsproxy/proxy.html",
            "https://gosbar.gosuslugi.ru": "/corsproxy/proxy.html"
        });
    </script>
<![endif]-->

</body>
</html>