{{> ../partials/head }}

base.mustache:
<h2>Names</h2>
{{#names}}
  {{> user}}
{{/names}}

user.mustache:
<strong>{{name}}</strong>


<h2>Names</h2>
{{#names}}
  <strong>{{name}}</strong>
{{/names}}

{{> partials/head }}

<template>
    {{> partials/header }}

    <div class="wrap">
        {{> some_inner_partial }}

        <div class="content">
            ...
        </div>
    </div>

    {{> partials/footer }}

</template>