<div class="video-wrapper" style="visibility: inherit; opacity: 1; z-index: 0; display: block;">
  <video preload="auto" muted="" playsinline="" loop="" type="audio/mp4; codecs=&quot;mp4a.40.5&quot;" src="https://greatbritaincdn.expedia.com/greatbritain/public/video-intro-26-01-2017.mp4" class="player" style="transform: matrix(1.00299, 0, 0, 1.00299, -1523, -723);"></video>
</div>

<div class="video-wrapper" style="z-index: -1; display: none; visibility: inherit; opacity: 1;">
  <video preload="auto" muted="" playsinline="" type="audio/mp4; codecs=&quot;mp4a.40.5&quot;" src="https://greatbritaincdn.expedia.com/greatbritain/public/video-26-01-2017.mp4" class="player" style="transform: matrix(1.13625, 0, 0, 1.13625, -1455, -870);"></video>
</div>

<div class="main-cover">
    <video autoplay loop muted webkit-playsinline onloadedmetadata="this.muted = true" preload="auto" class="main-cover__video">
        <source src="stoloto-cover-desert.mp4" type="video/mp4">
        <source src="stoloto-cover-desert.webm" type="video/webm">
        <source src="stoloto-cover-desert.ogv" type="video/ogg">
    </video>

    <video preload buffered autoplay loop muted webkit-playsinline playsinline poster="original.jpg">  
        <source type="video/webm" src="original.webm">
        <img src="original.gif">
    </video>
</div>

<style>
    .main-cover {
      position: relative;
      overflow: hidden;
    }

    .main-cover__video {
      width: 100%;
      height: auto;
      float: left;
    }

    @media(max-width: 980px) {
      .main-cover__video {
        position: absolute;
        left: 50%;
        height: 600px;
        width: auto;
        transform: translateX(-50%);
      }
    }

      .IIV::-webkit-media-controls-play-button,
      .IIV::-webkit-media-controls-start-playback-button {
          opacity: 0;
          pointer-events: none;
          width: 5px;
      }
</style>