<template id="tmpl-modal-item">
    <div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: block;" id="modal-item">
        <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 720px; height: auto; position: absolute; top: 226px; left: 88px; opacity: 1; overflow: visible;">
            <div class="fancybox-skin" style="padding: 0px; width: auto; height: auto;">
                <div class="fancybox-outer">
                    <div class="fancybox-inner" style="overflow: auto; width: 720px; height: auto;">
                        <div id="size-guide" class="size-guide" style="display: block;">

                        </div>
                    </div>
                </div>
                <a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>
            </div>
        </div>
    </div>
</template>