<template id="tmpl-modal-item">
    <div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: block;" id="modal-item">
        <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 720px; height: auto; position: absolute; top: 226px; left: 88px; opacity: 1; overflow: visible;">
            <div class="fancybox-skin" style="padding: 0px; width: auto; height: auto;">
                <div class="fancybox-outer">
                    <div class="fancybox-inner" style="overflow: auto; width: 720px; height: auto;">
                        <div id="size-guide" class="size-guide" style="display: block;">

                        </div>
                    </div>
                </div>
                <a title="Close" class="fancybox-item fancybox-close" href="javascript:;"></a>
            </div>
        </div>
    </div>
</template>

<div class="modal fade in" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
        
        <h4>Who are we?</h4>
        
        <img class="logo-full" src="images/logo-full.svg">
        
        <p><strong>We’re Cocolabs, Inc.</strong> We provide Design and Development services to unthinkably large companies, the just-getting-started and everyone in between.</p>

        <p>We’re a 8 member Design &amp; Development team. We believe in keeping things simple. No matter how complicated your ideas are, <span>we make it simple</span> and we make it work better.</p>

        <p><strong>We’re window shopper friendly. Find out what your project will cost with no obligation.</strong> <a data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#hireus">Get a quote</a></p>
    </div>
  </div>
</div>