<div class="overlay" id="overlay"></div>

<template id="tmpl-popup-demo">
    <div class="popup" id="popup-demo">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close js-popup-close">Закрыть</b>
                
            </section>
        </div>
    </div>
</template>

<template id="tmpl-popup-service">
    <div class="popup" id="popup-service">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close js-popup-close">Закрыть</b>
                
                <header class="popup__header">
                    <h4 class="popup__header__title">Заказать услуги</h4>
                </header>

                <article class="popup__body">

                </article>
            </section>
        </div>
    </div>
</template>

<script type="text/html" id="tmpl-popup-feedback">
    <div class="popup" id="popup-feedback">
        <div class="popup__dialog">
            <section class="popup__content">
                <b class="popup__close js-popup-close">Закрыть</b>
                
                <header class="popup__header">
                    <h4 class="popup__header__title">Заказать услуги</h4>
                </header>

                <article class="popup__body">

                </article>
            </section>
        </div>
    </div>
</script>