{%- verbatim -%}
<template id="tmpl-modal-feedback">
    <div class="modal is-hidden" id="modal-feedback" aria-hidden="false" tabindex="-1">
        <div class="modal__dialog" role="dialog" aria-modal="true">
            <button class="modal__close j-close-modal" type="button" aria-label="Закрыть" data-target="#modal-feedback">
                <svg role="img" class="modal__close__ico">
                    <use xlink:href="#close"/>
                </svg>
            </button>

            <header class="modal__header">
                <div class="modal__header__title">Заказать услуги</div>
            </header>

            <article class="modal__body" role="document">
                <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текста рукописи букв путь курсивных всемогущая оксмокс, агенство вопроса, свой запятых большого даль дороге. Меня выйти переулка, его! Пустился, решила.</p>
                <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текста рукописи букв путь курсивных всемогущая оксмокс, агенство вопроса, свой запятых большого даль дороге. Меня выйти переулка, его! Пустился, решила.</p>
                <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текста рукописи букв путь курсивных всемогущая оксмокс, агенство вопроса, свой запятых большого даль дороге. Меня выйти переулка, его! Пустился, решила.</p>
            </article>

            <footer class="modal__footer">
                <button class="j-close-modal" type="button" aria-label="Закрыть" data-target="#modal-feedback">
                    Закрыть
                </button>

                <div class="agreement">
                    Отправляя форму вы соглашаетесь на <a href="/privacy-policy" target="_blank" rel="nofollow">правила обработки персональных данных</a>.
                </div>
            </footer>
        </div>
    </div>
</template>
{%- endverbatim -%}
