{% macro switch(name, list={}, checked) %}
<div class="switch">
    {% for value, item in list %}
    <label class="switch__item">
        <input type="radio" name="{{ name }}" value="{{ value | escape }}" class="switch__item__input"{% if checked == value %} checked{% endif %}>
        <span class="switch__item__title">{{ item }}</span>
    </label>
    {% endfor %}
</div>
{% endmacro %}

{#
{{
    forms.switch(
        'type',
        'list' = {
            '1': 'По зонам',
            '2': 'По типу мебели'
        },
        'checked' = 1
    )
}}
#}
