input,
textarea {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;

    &:focus {
        outline: none;
    }
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

label {
    cursor: pointer;
}

input, button {
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

.c-input,
.c-textarea {
    width: 100%;
    color: #000;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 2px;
    font-family: $font-forms;
    border: 1px solid $c-border-color;
    box-sizing: border-box !important;

    &.error {
        background: rgba(255, 0, 0, 0.1);
        border-color: rgb(255, 0, 0);
        border-color: rgba(255, 0, 0, 0.5);
    }
    
    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    &:focus,
    &:focus {
        outline: none;
    }

    &::-ms-clear {
        display: none;
    }
}

.c-input {
    height: 38px;
    padding: 0 10px;
}

.c-textarea {
    height: 80px;
    max-height: 170px;
    padding: 7px 10px;
    max-width: 100%;
    resize: vertical;

    &_simple {
        height: 87px;
    }
}