.f-input,
.f-textarea {
    color: $c-input-color;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 1px;
    font-family: $font-family;
    border: 1px solid $c-border;

    &.error {
        background: rgba(255, 0, 0, 0.1);
        border-color: rgb(255, 0, 0);
        border-color: rgba(255, 0, 0, 0.5);
    }
}
