.f-label {
    clear: both;
    font-size: 0;
    display: block;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__name {
        width: 120px;
        float: left;
        position: relative;
        z-index: 10;
        color: $c-matterhorn;
        display: block;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 38px;
        text-align: right;
        margin-right: -120px;

        &__text {
            line-height: 1.2;
            display: inline-block;

            &._middle {
                vertical-align: middle;   
            }

            &._top {
                margin-top: -1px;
                vertical-align: top;
            }
        }

        &._no-lh {
            line-height: 1;
        }

        &.is-noinline {
            width: 100%;
            float: none;
            line-height: 1;
            text-align: left;
            margin-right: 0;
            margin-bottom: 7px;
        }
    }

    &__error {
        color: $c-red;
        display: block;
        font-size: 1.4rem;
        line-height: 1;
        font-weight: 400;
        margin-top: 5px;
    }

    &__content {
        width: 100%;
        float: left;
        padding-left: 137px;
        display: block;

        &.is-noinline {
            float: none;
            padding-left: 0;
        }
    }
}

&.is-hidden {
    display: none;

    &.is-show {
        display: block;
    }
}