.f-textarea {
    height: 80px;
    max-height: 170px;
    padding: 7px 10px;
    max-width: 100%;
    resize: vertical;

    &_simple {
        height: 87px;
    }
}

.contur {
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 250px;
    margin: -2px;
    height: 32px;
    width: 397px;
    height: 177px;
    box-sizing: content-box;
    background: #fff;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.15), inset 0 1px 0 0 rgba(0,0,0,0.05);
    font-size: 14px;
    line-height: 20px;
    border: none;
    border-radius: 0;
    padding: 0 8px 0 8px;
    position: relative;
    -webkit-appearance: none;
}