<button type="button" class="sandwich j-sandwich-menu" aria-label="Меню">
    <span class="sandwich__layer"></span>
</button>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div class="layout-header__wrapper">

        <a href="./index.html" class="layout-header__logo logo" rel="home" itemprop="url" accesskey="1" data-instant>
            <span itemprop="name"></span>
        </a>

        {%- include "./_navigation.html" -%}

    </div>
</header>
