# <IfModule mod_headers.c>
#     Header set Access-Control-Allow-Origin "*"
#     Header set Access-Control-Allow-Credentials true
#     Header set Access-Control-Allow-Methods "GET, OPTIONS"
#     Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, X-Auth-Token, X-CSRF-TOKEN"
# </IfModule>

AddDefaultCharset utf-8

DirectoryIndex index.php

RewriteEngine on
RewriteBase /api/
RewriteRule ^([a-zA-Z0-9_/\-\:]*)$ index.php
