.mouse-cursor-gradient-tracking {
	border: none;
	outline: none;
	position: relative;
	background: #2379f7;

	&:before {
		--size: 0;
		content: '';
		position: absolute;
		left: var(--x);
		top: var(--y);
		width: var(--size);
		height: var(--size);
		background: radial-gradient(circle closest-side, violet, transparent);
		transform: translate(-50%, -50%);
		transition: width .2s ease, height .2s ease;
	}

	&:hover::before {
		--size: 200px;
	}
}
