.pagination {
    clear: both;
    font-size: 0;
    line-height: 0;
    text-align: left;
    margin: 3rem 0 0;

    &__list {
        letter-spacing: normal;
        margin: 0 !important;
        padding: 0 !important;
    }

    &__item {
        padding: 0;
        background: none;
        vertical-align: top;
        display: inline-block;

        &:not(:first-child) {
            margin-left: 2px;
        }

        &:not(:last-child) {
            margin-right: 2px;
        }
        
        &__text {
            text-decoration: none;
            color: #333;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 4rem;
        }

        &__page {
            &, &:visited {
                width: 4rem;
                height: 4rem;
                display: block;
                vertical-align: top;
                
                background-color: #fff;
                border: 4px solid #f00;
                
                text-decoration: none;
                
                text-align: center;
                
                outline: none;

                color: #333;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 3.2rem;

                transition: border-color $a-time;

                box-sizing: border-box;
            }

            &:hover {
                border-color: #f00;
            }

            &.current {
                &, &:hover {
                    border-color: #f00;
                }
            }
        }

        &__nav {
            position: relative;
            margin: 0 16px;

            &, &:before {
                width: 13px;
                height: 40px;
                display: block;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 13px 20px;
            }

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                opacity: 0;
                transition: opacity $a-time;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}