.quantity {
    width: 80px;
    height: 33px;
    position: relative;
    user-select: none;
    font-size: 0;
    line-height: 0;

    border-radius: 18px;
    border: 1px solid #cfcfcf;
    background-color: #f5f5f5;
    
    &.is-disabled {
        cursor: default;
        pointer-events: none;
    }

    &__count {
        width: 100%;
        height: 31px;
        border: 0;
        padding: 0;
        color: #232323;
        outline: none;
        background: none;
        text-align: center;

        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.001rem;
    }

    &__control {
        width: 26px;
        height: 31px;
        border: 0;
        outline: 0;
        padding: 0;
        color: #2f2f2f;
        cursor: pointer;
        background: none;
        line-height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        letter-spacing: 0.001rem;
        transition: color $a-time $a-func;

        &:hover {
            color: #000;
        }

        &._decrease {
            left: 0px;
            text-align: right;
            padding-right: 5px;
            border-radius: 18px 0 0 18px;
        }

        &._increase {
            right: 0px;
            text-align: left;
            padding-left: 5px;
            border-radius: 0 18px 18px 0;
        }

        &__ico {
            max-width: 10px;
            max-height: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
