<!-- https://yandex.ru/support/webmaster/supported-schemas/other-content.html -->

<div itemscope itemtype="http://schema.org/Painting">
    <h1 itemprop="name">Портрет Гарсиа Лорки</h1>
    <img src="http://uploads8.wikipaintings.org/images/salvador-dali/portrait-of-garcia-lorca.jpg!Blog.jpg" alt="Портрет Гарсиа Лорки - Сальвадор Дали"
title="Портрет Гарсиа Лорки - Сальвадор Дали" />
    <a href="/es/salvador-dali" itemprop="author">Сальвадор Дали</a>
    <span itemprop="genre">Портрет</span>
    <span itemprop="description">Портрет Федерико Гарсиа Лорки, выполненный в Café de Oriente. Мадрид. (Бумага, чернила. 1924 г.)</span>
</div>

<div itemscope itemtype="http://schema.org/NewsArticle">
   <meta itemprop="genre" content="Из жизни">
   <h1 itemprop="headline">В Москве побит температурный рекорд 1922 года</h1>
   <div itemprop="author" itemscope itemtype="http://schema.org/Person">
       <span itemprop="name">Иван Иванов</span>
       <span itemprop="jobTitle">Специальный корреспондент</span>
   </div>
   <div itemprop="description">
      <p>В среду, 6 ноября, в Москве был побит температурный рекорд, зафиксированный в 1922 году. Температура воздуха составила плюс 12,1 градуса по Цельсию, как сообщает «РИА Новости» со ссылкой на источник в центре «Фобос».</p>
   </div>
</div>

<div itemscope itemtype="http://schema.org/LiveBlogPosting">
  <div itemprop="about" itemscope itemtype="http://schema.org/Event">
    <time itemprop="startDate" datetime="2015-03-09T13:00:00-07:00" />
    <meta itemprop="name" content="Apple Spring Forward Event" />
  </div>
  <time itemprop="coverageStartTime" content="2015-03-09T11:30:00-07:00" />
  <time itemprop="coverageEndTime" content="2015-03-09T16:00:00-07:00" />
  <h1 itemprop="headline">Apple Spring Forward Event Live Blog</h1>
  <p itemprop="description">Welcome to live coverage of the Apple Spring Forward …</p>
  <div itemprop="liveBlogUpdate" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="headline">See the new flagship Apple Retail Store in West Lake, China.</h2>
    <p><time itemprop="datePublished" content="2015-03-09T13:17:00-07:00">March 9, 2015 1:17 PM</time></p>
    <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
      <img itemprop="thumbnail" src="http://images.apple.com/live/2015-mar-event/images/908d2e_large_2x.jpg" />
    </div>
  </div>
  <div itemprop="liveBlogUpdate" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="headline">iPhone is growing at nearly twice the rate of the rest of the smartphone market.</h2>
    <p><time itemprop="datePublished" content="2015-03-09T13:13:00-07:00">March 9, 2015 1:13 PM</time></p>
    <img itemprop="image" src="http://images.apple.com/live/2015-mar-event/images/573cb_xlarge_2x.jpg"/>
  </div>
  <div itemprop="liveBlogUpdate" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="headline">Coming this April, HBO NOW will be available exclusively in the U.S. on Apple TV and the App Store.</h2>
    <p><time itemprop="datePublished" content="2015-03-09T13:08:00-07:00">March 9, 2015 1:08PM</time></p>
    <p itemprop="articleBody">It's $14.99 a month.<br> And for a limited time, …</p>
  </div>
</div>