<!DOCTYPE html>

<!-- (c) lnk. CELEBRO Studio | https://celebro.ru -->

<!--[if lt IE 7]><html class="ie6 no-js" lang="ru"><![endif]-->
<!--[if IE 7]>   <html class="ie7 no-js" lang="ru"><![endif]-->
<!--[if IE 8]>   <html class="ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 9]>   <html class="ie9 no-js" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" itemscope="itemscope" itemtype="http://schema.org/WebPage" lang="ru">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">

    <title itemprop="name">{{ title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <link rel="preload" href="./js/vendors.min.js" as="script">
    <link rel="preload" href="./js/libs.min.js" as="script">
    <link rel="preload" href="./js/app.min.js" as="script">
    <link rel="preload" href="./css/main.min.css" as="style">
    <link rel="preload" href="./css/vendors.min.css" as="style">

    <link rel="stylesheet" href="./css/main.min.css">
    <link rel="stylesheet" href="./css/vendors.min.css" media="none" onload="if(media!='all')media='all'">

    <meta content="true" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">

    <!--
    <meta content="width=960" name="viewport">
    <meta content="width=960,initial-scale=1" name="viewport">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <meta content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" name="viewport">
    <meta content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
    -->

    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="skype_toolbar_parser_compatible" name="skype_toolbar">
    <meta content="date=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta content="telephone=no" name="format-detection">
    <meta content="notranslate" name="google">


    <script>
        WebFontConfig = {
            google: {
                families: ['Roboto Condensed:700:cyrillic', 'Roboto:300,400,500,700,900:cyrillic-ext']
            }
        };

        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto Condensed:700:cyrillic', 'Roboto:300,400,500,700,900:cyrillic-ext']
            }
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Droid Sans', 'Droid Serif']
                families: ['Open Sans Condensed:300,700']
                families: ['Open Sans Condensed:300,700:latin,greek']
                families: ['My Font', 'My Other Font:n4,i4,n7'],
                text: 'abcdefghijklmnopqrstuvwxyz!'
            },
            timeout: 2000
        });
    </script>

    <script>
       WebFontConfig = {
          typekit: { id: 'xxxxxx' }
       };

        WebFontConfig = {
            loading: function() {},
            active: function() {},
            inactive: function() {},
            fontloading: function(familyName, fvd) {},
            fontactive: function(familyName, fvd) {},
            fontinactive: function(familyName, fvd) {}
        };

       (function(d) {
          var wf = d.createElement('script'), s = d.scripts[0];
          wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
          wf.async = true;
          s.parentNode.insertBefore(wf, s);
       })(document);
    </script>
    -->

    <!--
    <link href="https://www.site.com/?hl=ru" rel="alternate" hreflang="ru">
    <link href="https://www.site.com/?hl=en" rel="alternate" hreflang="en">
    -->

    <script>
    var errors = [];
    // window.onerror = function(errorMsg, url, lineNumber, column, errorObj) {
    //     var data = {};
    //     data.url = document.location.protocol + "//" + document.location.hostname + document.location.pathname + document.location.search + " [referrer: " + document.referrer + "]";
    //     data.method = "GET";
    //     if (window.currentUser && window.currentUser.id) {
    //         data.user = window.currentUser.id;
    //     }
    //     var navigatorFields = ["userAgent", "appCodeName", "appName", "appVersion", "platform", "product"];
    //     for (var i = 0; i < navigatorFields.length; i++) {
    //         data[navigatorFields[i]] = window.navigator[navigatorFields[i]];
    //     }
    //     data.date = new Date().getTime();
    //     data.message = errorMsg;
    //     if (url) {
    //         data.script = url;
    //     }
    //     if (lineNumber) {
    //         data.line = lineNumber;
    //     }
    //     if (column) {
    //         data.column = column;
    //     }
    //     if (errorObj) {
    //         data.stack = errorObj;
    //     }
    //     var s = "{";
    //     var i = 0;
    //     for (var f in data) {
    //         if (i > 0) {
    //             s += ',';
    //         }
    //         s += '"' + f + '":"' + data[f] + '"';
    //         i += 1;
    //     }
    //     s += "}";
    //     errors.push(s);
    // }
    // setInterval(function() {
    //     if (errors.length > 0 && window.$) {
    //         var data = {};
    //         for (var i = 0; i < errors.length; i++) {
    //             data["error" + i] = errors[i];
    //         }
    //         $.post("//s.stoloto.ru/service/private/errors", data);
    //         errors = [];
    //     }
    // }, 1000);
    </script>

    <!--
    <script>
        WebFontConfig = {
            google: {
                families: ['Droid Sans', 'Droid Serif', 'Open Sans Condensed:300,700', 'Open Sans Condensed:300,700:latin,greek'],
                text: 'abcdefghijklmnopqrstuvwxyz!'
            },
            custom: {
                families: ['My Font', 'My Other Font:n4,i4,n7']
                // urls: ['/fonts.css']
            },
            timeout: 2000
        };
        (function(d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <style type="text/css">
        @font-face {
            font-family:"My Font";
            src:url("assets/fonts/my_font.woff") format("woff");
        }
    </style>
    -->
