<!-- https://yandex.ru/support/webmaster/supported-schemas/address-organization.html -->

<div itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">Яндекс</span>

    <time itemprop="openingHours" datetime="Tu,Th 16:00−20:00">По вторникам и четвергам с 4 до 8 вечера</time>
    <time itemprop="openingHours" datetime="Mo-Su">С понедельника по воскресенье, круглосуточно</time>

    Контакты:
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        Адрес:
        <span itemprop="streetAddress">Льва Толстого, 16</span>
        <span itemprop="postalCode"> 119021</span>
        <span itemprop="addressLocality">Москва</span>,
    </div>
    Телефон:<span itemprop="telephone">+7 495 739–70–00</span>,
    Факс:<span itemprop="faxNumber">+7 495 739–70–70</span>,
    Электронная почта: <span itemprop="email">pr@yandex-team.ru</span>
</div>
