<!-- https://yandex.ru/support/webmaster/supported-schemas/goods-prices.html -->

<!--Указывается схема Product.-->
<div itemscope itemtype="http://schema.org/Product">

<!--В поле name указывается наименование товара.-->
  <h1 itemprop="name">Iphone 6 plus 16 GB</h1>

<!--В поле description дается описание товара.-->
  <span itemprop="description">iPhone 6 не просто больше. Он лучше во всех отношениях. Больше, но при этом значительно тоньше. Мощнее, но при этом исключительно экономичный. Его гладкая металлическая поверхность плавно переходит в стекло нового HD-дисплея Retina, образуя цельный, законченный дизайн. Его аппаратная часть идеально работает с программным обеспечением. Это новое поколение iPhone, улучшенное во всём</span>

<!--В поле image указывается ссылка на картинку товара.-->
  <img src="http://imageexample.com/iphone6plus.jpg" itemprop="image">

<!--Указывается схема Offer.-->
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

<!--В поле price указывается цена товара.-->
    <span itemprop="price">36990</span>

<!--В поле priceCurrency указывается валюта.-->
    <span itemprop="priceCurrency">RUB</span>
  </div>
</div>

<div itemscope itemtype="http://schema.org/Product">
  <div itemprop="name"><h1>Кровать Мелисса с мягкой спинкой</h1></div>
  <a itemprop="image" href=​"products_pictures/large_krovat-mellisa-smyagkoispink.jpg">
    <img src=​"products_pictures/medium_krovat-mellisa-smyagkoispink.jpg" title="Кровать Мелисса с мягкой спинкой">
  </a>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <div>7 150 руб.158$355</div>
    <meta itemprop="price" content="7150.00">
    <meta itemprop="priceCurrency" content="RUB">
    <div>В наличии</div>
    <link itemprop="availability" href="http://schema.org/InStock">
  </div>
  <div itemprop="description">Цена указана за кровать Мелисса с мягкой спинкой; размером спального места 900х2000 мм. Подушки у спинки кровати изготовляются из искусственной кожи. В комплектацию входит ортопедическое основание на ножках.</div>
</div>
