<!-- https://yandex.ru/support/webmaster/supported-schemas/video.html -->

<div itemscope itemtype="http://schema.org/VideoObject" > 
    <!--Указание типа объекта-->
    <a itemprop="url" href="http://mysite.com/view/306/">
    <h1 itemprop="name">Что такое Schema.org</h1></a>
    <p itemprop="description">Schema.org - это стандарт семантической разметки данных в сети, объявленный поисковыми системами Google, Bing и Yahoo! летом 2011 года. Цель семантической разметки — сделать интернет более понятным, структурированным и облегчить поисковым системам и специальным программам извлечение и обработку информации для удобного её представления в результатах поиска.</p>
    <meta itemprop="duration" content="PT6M58S">
    <meta itemprop="isFamilyFriendly" content="true">
    <p>Дата загрузки:<span itemprop="uploadDate">2013-06-05T00:00:00</span></p>
    <span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject"> 
        <img itemprop="contentUrl" src="http://mysite.com/images/preview/img1.jpg">
        <meta itemprop="width" content="250">
        <meta itemprop="height" content="120">
    </span>
</div>


<div itemscope itemtype="http://schema.org/Movie">
    <span>
    <a itemprop="director" href="/name/23330/">Лана Вачовски</a>, <a itemprop="director" href="/name/26439/">Том Тыквер</a>. </span>
    <span>
    <a itemprop="producer" href="/name/26437/">Штефан Арндт</a>, <a itemprop="producer" href="/name/31351/">Грант Хилл</a>, <a href="/film/464484/cast/#producer">и другие</a>. </span>
    <span>
    <a itemprop="musicBy" href="/name/312865/">Райнхольд Хайль</a>, <a itemprop="musicBy" href="/name/26439/">Том Тыквер</a>. </span>
    <span>
    <a itemprop="genre" href="/level/10/m_act%5Bgenre%5D/8/">драма</a>, <a itemprop="genre" href="/level/10/m_act%5Bgenre%5D/17/">детектив</a>, <a href="/film/464484/keywords/">и другие</a>. </span>
    <span class="title">В главных ролях:</span>
    <div>
        <a itemprop="actor" href="/name/9144/">Том Хэнкс</a>
        <a itemprop="actor" href="/name/1179/">Холли Берри</a>
        <a itemprop="actor" href="/name/38704/">Джим Броудбент</a>
    </div>
    <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
        <!-- Описание видеоролика, общее для всех видео -->
        <link itemprop="url" href="http://www.kinopoisk.ru/film/464484/">
        <span itemprop="description">Шесть историй — пять реинкарнаций, происходящих в разное время, тесно переплетаются между собой…</span>
        <meta itemprop="contentRating" content="MPAA R">
        <meta itemprop="duration" content="PT2H52M04S">
        <meta itemprop="dateReleased" content="2013-11-08T00:00:00">
        <meta itemprop="uploadDate" content="2014-11-08T00:00:00">
        <meta itemprop="dateCreated" content="2013-09-09T00:00:00">
        <meta itemprop="inLanguage" content="ru">
        <meta itemprop="isFamilyFriendly" content="true">
        <meta itemprop="productionCompany" content="Warner Bros">
        <div>
            <h1 itemprop="name">Облачный атлас </h1>
            <span itemprop="alternativeHeadline">Cloud Atlas</span>
            <img src="http://st.kinopoisk.ru/images/film/464484.jpg" alt="Облачный атлас (Cloud Atlas)" itemprop="thumbnail"/>
        </div>
        <!-- Язык субтитров -->
        <meta itemprop="subtitleLanguage" content="en">
    </div>