$footer-offset: $footer-height + $footer-margin;

.layout-wrapper {
    width: 100%;
    min-height: calc(100% - #{$footer-offset});
    overflow: hidden;
    position: relative;

    &__pusher {
        padding-bottom: $footer-height + $footer-margin;
    }

    &__container {
		@include layout();
    }
}

// .wrapper {
//     background-image: url("https://c7.staticflickr…");
// }

// @supports (background-blend-mode: hue) {
//     .wrapper {
//         background-image: linear-gradient(lightblue 0%, pink 100%),
//         linear-gradient(to right, pink 30%, white 100%), url("https://c7.staticflickr.com/2/1510/…");
//         background-blend-mode: hue;
//     }
// }

/*
Lenovo ThinkPad X230    12.5″   1366×768
MacBook Pro             13.3″   1280×800
MacBook Pro             15.4″   1440×900
iMac                    21.5″   1920×1080
iMac                    27″     2560×1440
*/
