.layout-header {
    clear: both;
    position: relative;
    height: $header-height;

    &__wrapper {
        @extend %layout;
    }

    &__logo {
        position: absolute;
        left: 0;
        top: 0;
    }
}
