svg {
    fill: currentColor;
    shape-rendering: geometricPrecision; // auto | optimizeSpeed | crispEdges | geometricPrecision | inherit;
}

// .shape{
//     width: 20em;
//     height: 20em;
//     float: left;
//     margin: 0.25em 2em 1em 0;
// }

// @supports (border-radius: 25em) and (shape-outside: circle()) {
//     .shape {
//         shape-outside: circle(50%);
//         border-radius: 25em;
//     }    
// }

// @supports not (shape-outside: circle()) {
//     .shape {
//         Стили применяться только если shape-outside не поддерживается
//     }    
// }

img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

/*
img[src$=".gif"], img[src$=".png"] {
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.div { 
    background: url(chessboard.gif) no-repeat 50% 50%;
    image-rendering: -moz-crisp-edges;
    image-rendering:   -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

img { margin: 20px; }
img[align="left"] { margin-left: 0; }
img[align="right"] { margin-right: 0; }

img {
    width: 100%;
    height: auto;
    line-height: 2;
    display: block;
    font-weight: 400;
    text-align: center;
    position: relative;
    min-height: 50px;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        height: calc(100% + 10px);
        width: 100%;
        background-color: rgb(230, 230, 230);
        border: 2px dotted rgb(200, 200, 200);
        border-radius: 5px;
    }

    &:after {  
        content: "\f127" " Битая картинка " attr(alt);
        display: block;
        font-size: 16px;
        font-style: normal;
        font-family: FontAwesome;
        color: rgb(100, 100, 100);
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        text-align: center;
    }
}
*/