input,
textarea {
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;

    &:focus {
        outline: none;
    }
}

select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

label {
    cursor: pointer;
}

input, button {
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

input,
textarea {
    width: 100%;
    box-sizing: border-box;

    &:disabled {
        opacity: 0.4;
        cursor: default;
    }

    &::-ms-clear {
        display: none;
    }

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        // -webkit-text-fill-color: yellow !important;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        appearance: none;
    }
}