.popup-open {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    .layout-wrapper {
        overflow: hidden;
    }
}

.no-scroll.popup-open {
    overflow: hidden;
}

.popup {
    width: 100%;
    height: 100%;
    max-width: 100%;
    position: fixed 0;
    margin: 0;
    padding: 30px;
    font-size: 0;
    line-height: 1;
    z-index: 9999;
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
    transition: opacity .5s ease, transform .6s ease;
    background-color: rgba(23, 21, 20, 0.8);
    opacity: 0;

    display: none;
    align-items: center;
    justify-content: center;

    &.visible {
        display: flex;
        justify-content: center;
    }

    &.flex-start {
        align-items: flex-start;
    }

    &.flex-center {
        align-items: center;
    }

    &.animate {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    &__dialog {
        width: 100%;
        height: auto;
        max-height: 100%;
        max-width: 1218px;
        margin: -30px auto 0;
        position: relative;
        text-align: center;
        vertical-align: middle;

        @media (max-height: 800px) {
            max-width: 831px;
        }

        &--basket {
            @media (max-height: 800px) {
                /* max-width: 1220px; */
                max-width: 1140px;
            }
        }

        &.is-scrolling {
            position: relative;
            left: auto;
            top: auto;
            transform: none;
        }
    }

    &__content {
        width: 100%;
        padding: 0;
        line-height: 1;
        position: relative;
        text-align: left;
        display: inline-block;
        vertical-align: middle;
    }

    &__header {
        padding: 0;
        text-align: center;
        line-height: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;

        &__title {
            color: #fff;
            font-size: 5rem;
            font-weight: 400;
            line-height: 1;
            position: relative;
            text-transform: uppercase;
            letter-spacing: 0.004rem;
            display: inline-block;
            vertical-align: middle;

            @media (max-height: 800px) {
                font-size: 3.2rem;
            }

            &:before,
            &:after {
                content: "";
                width: 66px;
                height: 3px;
                position: absolute;
                top: 50%;
                margin-top: -3px;
                background-color: #fff;

                @media (max-height: 800px) {
                    width: 33px;
                    height: 2px;
                    margin-top: -2px;
                }
            }

            &:before {
                right: 100%;
                margin-right: 25px;

                @media (max-height: 800px) {
                    margin-right: 10px;
                }
            }

            &:after {
                left: 100%;
                margin-left: 25px;

                @media (max-height: 800px) {
                    margin-left: 10px;
                }
            }
        }
    }

    &__tabs {
        &--absolute {
            position: absolute;
            left: 0;
            top: 8px;
        }

        &--center {
            padding: 20px 0;
            text-align: center;
            margin-bottom: 10px;
        }

        &__button {
            font-weight: 400;
            line-height: 1;
            outline: none;
            text-transform: uppercase;
            text-decoration: underline;
            letter-spacing: 0.001rem;
            transition: color $a-time $a-func;

            .popup__tabs--center & {
                color: #232323;
                font-size: 2rem;

                &:hover {
                    color: #4b8425;
                }
            }

            .popup__tabs--absolute & {
                color: #fff;
                font-size: 1.8rem;

                &:hover {
                    color: #4b8425;
                }
            }

            &.is-current {
                cursor: default;
                text-decoration: none;

                .popup__tabs--center & {
                    color: #4b8425;
                    text-decoration: none;
                }

                .popup__tabs--absolute & {
                    color: #aeaeae;
                }
            }

            &:not(:last-child) {
                margin-right: 30px;

                @media (max-width: 1280px) {
                    margin-right: 20px;
                }
            }

            @media (max-height: 800px) {
                font-size: 1.8rem;
            }
        }
    }

    &__title {
        color: #3d3d3d;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1;
        text-align: center;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &__reservation {
        display: none;
        padding: 20px 30px 30px;

        &.is-active {
            display: block;
        }
    }

    &__body {
        padding: 0;
        font-size: 0;
        line-height: 1;
        display: block;
        text-align: center;

        &--white {
            background-color: #fff;
        }
    }

    &__image {
        height: auto;
        max-width: 100%;
        max-height: 100%;
        user-select: none;
        pointer-events: none;
    }

    &__close {
        width: 18px;
        height: 18px;
        color: #fff;
        position: absolute;
        right: 0;
        top: 12px;
        z-index: 100;
        font-size: 0;
        line-height: 0;
        cursor: pointer;

        &__icon {
            max-width: 100%;
            max-height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
