ol {
    &:not([class]) {
        counter-reset: numeric; 

        li {
            &:before {
                counter-increment: numeric;
                content: counter(numeric); 
            }
        }
    }
}