@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')

<div class="layout-wrapper">

    @@include('./components/_header.html', {
        "current": "index"
    })

    <div class="layout-wrapper__pusher">

        <div class="layout-wrapper__container clearfix">

            @@include('./components/_sidebar.html')
            
            <div class="content clearfix">
                
                @@include('./components/_breadcrumbs.html', {
                    "page1": "Главная",
                    "page2": "",
                    "page3": ""
                })

                <h1></h1>

            </div>
            
        </div>

    </div>

</div>

@@include('./components/_footer.html')
@@include('./components/_scripts.html')