---
title: Главная
current: index
description: Главная
keywords: Главная
---
{%- extends "layouts/_base.html" -%}

{%- block content -%}

    <h1>Одинадцатиклассница</h1>

    <p>Официальное название столицы Таиланда - Бангкока звучит, как Крун Тхеп Маханакхон Амон Раттанакосин Махинтараюттхая Махадилок Пхоп Ноппарат Ратчатхани Буриром Удомратчанивет Махасатан Амон Пиман Аватан Сатит Саккатхаттийя Витсанукам Прасит (กรุงเทพมหานคร อมรรัตนโกสินทร์ มหินทรายุธยามหาดิลก ภพนพรัตน์ ราชธานีบุรีรมย์ อุดมราชนิเวศน์ มหาสถาน อมรพิมาน อวตารสถิต สักกะทัตติยะ วิษณุกรรมประสิทธิ์ )</p>

    <p>Muckanaghederdauhaulia – самое длинное название места в Ирландии (22 буквы). Название переводится как "болотистая область между двумя солеными заливами".</p>

    <p>Gasselterboerveenschemond – самое длинное название в Голландии (25 букв)</p>

    <p>Pekwachnamaykoskwaskwaypinwanik – это название озера и самое длинное название в Канаде (31 буква). С языка кри оно переводится, как "там, где дикую форель ловят на крючок".</p>

    <button type="button" class="j-open-modal" data-modal="modal-feedback">Открыть модалку 1</button>
    <a href="#modal-feedback" class="j-open-modal">Открыть модалку 2</a>
    <a href="" data-modal="modal-feedback" class="j-open-modal">Открыть модалку 3</a>

{%- endblock -%}
