---
title: Main Page
current: main
description: description page
keywords: is key words
bodyclass: main-body tosign
items:
 - name: Steve Jobs
   image: img/1.jpg
   position: CEO
   descr: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere animi vitae consequatur. Perferendis modi quisquam eligendi itaque aliquid omnis tenetur accusantium iure non, veritatis nemo blanditiis? Nulla, cumque, molestias!
 - name: Steve Jobs2
   image: img/2.jpg
   position: CEO
   descr: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere animi vitae consequatur. Perferendis modi quisquam eligendi itaque aliquid omnis tenetur accusantium iure non, veritatis nemo blanditiis? Nulla, cumque, molestias!
 - name: Steve Jobs3
   image: img/3.jpg
   position: CEO
   descr: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere animi vitae consequatur. Perferendis modi quisquam eligendi itaque aliquid omnis tenetur accusantium iure non, veritatis nemo blanditiis? Nulla, cumque, molestias!
---
{% include "./components/_meta.html" %}

{% block header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
<ul>
    {% for item in items %}
    <li>{{ item.name }} <br> {{ item.image }} <br> {{ item.descr }} <br> {{ item.position }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% include "./components/_scripts.html" %}
