@@include('./components/_meta.html', {
    "title": "Index",
    "bodyclass": ""
})

<div class="layout-wrapper">

    <div class="layout-wrapper__pusher">
        
        <div class="yandex-map clearfix">
            <div class="yandex-map__block">
                <img src="http://sk-zenit.ru/images/liters.jpg" class="yandex-map__image" alt="">
            </div>

            <div class="yandex-map__block">
                <div class="yandex-map__before"></div> 
                <div id="YMap" class="yandex-map__insert"></div>
            </div>
        </div>

        <script type="text/javascript">
            function initMap () {
                ymaps.ready(function () {
                    var YMap = new ymaps.Map('YMap', {
                        center: [45.022991, 39.013348],
                        zoom: 17,
                        yandexMapAutoSwitch: true
                    });

                    YMap.behaviors.disable('multiTouch');
                    YMap.behaviors.disable('scrollZoom');

                    YMap.controls.get('zoomControl').options.set('size', 'small');
                    YMap.controls.get('zoomControl').options.set('position', { right: 10, top: 50 });

                    YMap.setType('yandex#publicMap');
                });
            };
        </script>

        <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initMap" async></script>

    </div>

</div>

@@include('./components/_footer.html')
