/*
@font-face {
    font-family: 'San Francisco';
    font-weight: 300;
    src: local('-apple-system');
}

@font-face {
    font-family:'San Francisco';font-weight:400;src:local('.SFNSText-Regular');
}

@font-face {
    font-family:'San Francisco';font-weight:500;src:local('-apple-system');
}

@font-face {
    font-family:'San Francisco';font-weight:600;src:local('-apple-system');
}

@font-face {
    font-family:'San Francisco';font-weight:700;src:local('.SFNSText-Semibold');
}

@font-face {
    font-family:'San Francisco';font-weight:800;src:local('-apple-system');
}

#facebook ._-kb.sf {
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    letter-spacing: -0.02em;
}

#facebook ._-kb.apple {
    font-family: -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

@font-face {
    font-family:'Segoe UI Historic';src:local('Arial');unicode-range:U+530-5F4, U+10A0-10FF;
}

@font-face {
    font-family:'Segoe UI Historic';font-weight:700;src:local('Arial Bold'), local('Arial');unicode-range:U+530-5F4, U+10A0-10FF;
}
*/