@font-face {
    font-family: 'Ruble';
    src: url('../fonts/ruble/ALSRubl.woff2') format('woff2'),
         url('../fonts/ruble/ALSRubl.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
