@font-face {
    font-family: 'Ruble';
    src: url('./fonts/ruble/ruble.woff2') format('woff2'),
         url('./fonts/ruble/ruble.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
