@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sfuidisplay/light.woff2') format('woff2'),
         url('../fonts/sfuidisplay/light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sfuidisplay/regular.woff2') format('woff2'),
         url('../fonts/sfuidisplay/regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sfuidisplay/medium.woff2') format('woff2'),
         url('../fonts/sfuidisplay/medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sfuidisplay/semibold.woff2') format('woff2'),
         url('../fonts/sfuidisplay/semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUIDisplay';
    src: url('../fonts/sfuidisplay/bold.woff2') format('woff2'),
         url('../fonts/sfuidisplay/bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

