* {
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    
    &, &:before, &:after {
        box-sizing: border-box;
    }
    
    &[dir="ltr"] {
        direction: ltr;
        unicode-bidi: embed;
    }

    &[dir="rtl"] {
        direction: rtl;
        unicode-bidi: embed;
    }
}

html, body { height: 100%; }

html {
    quotes: "“" "”";
    font-size: $font-base;
    font-family: $font-family;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

body {
    color: $c-text;
    min-width: 320px;
    line-height: 1.42857143;
    font-kerning: none;
    background-color: $c-body-background;
}

body, input, textarea, select, button {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'kern','onum','liga';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-align: left;
}