.layout-wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;

    &__pusher {
        padding-bottom: $footer-height + $footer-margin;
    }

    &__container {
        @extend %layout;
    }
}

@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 1140px) {}
@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 960px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 568px) {}
@media only screen and (max-width: 480px) {}
@media only screen and (max-width: 375px) {}
@media only screen and (max-width: 320px) {}