/*
:root {
    --array: foo, bar, baz;
    --from: 1;
    --to: 3;
    --icon-exclude: 2;
    --color-danger: red;
}

@each $val in var(--array) {
    @import "$val.css";
}

html {
    background-color: var(--color-danger);
}
*/

/*
.some-class {
    color: #fff;
 
    @for $val from var(--from) to var(--to) {
        @if $val != var(--icon-exclude) {
            .icon-$val {
                background-position: 0 $(val)px;
            }
        }
    }
}
*/
$type: monster;
p {
  @if $type == ocean {
    color: blue;
  } @else if $type == matador {
    color: red;
  } @else if $type == monster {
    color: green;
  } @else {
    color: black;
  }
}
/*
@for $i from 1 to 3 {
  .b-$i { 
    width: $i px;
    @if $i == 2 {
      color: green;
    }
  }
}
*/