@charset "utf-8";

@import 'reset.css';
@import './reset';
@import "_variable";

@import "./form";
@import "_form";
@import "./_form.css";
@import "form.css";

@import "./form/";
@import "form/_*.css";

.test {
    color: #f00;
}

.test2 {
    color: #0f0;
}

/*
body {
  background: resolve('foobar.jpg');
  background: resolve('icons/baz.png');
}
*/