$quantity-width: 80px;
$quantity-height: 30px;

.quantity {
    width: $quantity-width;
    height: $quantity-height;
    position: relative;
    user-select: none;
    font-size: 0;
    line-height: 0;

    border: 1px solid #cfcfcf;
    background-color: #f5f5f5;

    border-radius: ($quantity-height - 2);

    &__count {
        width: 100%;
        height: ($quantity-height - 2);
        border: 0;
        padding: 0;
        color: #232323;
        outline: none;
        user-select: none;
        background: none;
        text-align: center;
        font-family: $font-CorsicaLX;

        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.001rem;
    }

    &__control {
        width: $quantity-height;
        height: ($quantity-height - 2);
        border: 0;
        outline: 0;
        padding: 0;
        color: #2f2f2f;
        cursor: pointer;
        background: none;
        line-height: ($quantity-height - 2);
        position: absolute;
        top: 50%;
        margin-top: -(($quantity-height - 2) / 2);
        letter-spacing: 0.001rem;
        transition: color $a-time $a-func;

        &:hover {
            color: #000;
        }

        &._decrease {
            left: 0px;
            text-align: right;
            padding-right: ($quantity-height / 4);
            border-radius: ($quantity-height - 2 / 2) 0 0 ($quantity-height - 2 / 2);
        }

        &._increase {
            right: 0px;
            text-align: left;
            padding-left: ($quantity-height / 4);
            border-radius: 0 ($quantity-height - 2 / 2) ($quantity-height - 2 / 2) 0;
        }

        &__ico {
            max-width: 10px;
            max-height: 10px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
