<style>
.motmot .grey.white-smoke-text {
    color: #f5f5f5;
}
.motmot .grey.white-smoke {
    background-color: #f5f5f5;
}
.motmot .padding-xlarge {
    padding: 25px;
}
.motmot .margin-top-small {
    margin-top: 10px;
}
.motmot .border-2 {
    border-width: 2px;
}
.motmot .border-dashed {
    border-style: dashed;
}
.motmot .silver-sand-border {
    border-color: #c2c2c2;
}

.motmot .padding-large {
    padding: 20px;
}
.motmot .center-align {
    text-align: center;
}

.motmot .blue.picton {
    background-color: #46a0f5;
}
.motmot .container-inline-block {
    display: inline-block;
}
.motmot .circle {
    border-radius: 50%;
}

.circle--medium {
    width: 180px;
    height: 180px;
}
.motmot .font-thin {
    font-weight: 100;
}
.motmot .padding-top-xlarge {
    padding-top: 25px;
}
.motmot .center-align {
    text-align: center;
}

.motmot .margin-bottom-small {
    margin-bottom: 10px;
}
.motmot .mti-3x {
    font-size: 3em;
}
.motmot .mti-icon {
    display: inline-block;
    font: normal normal normal 16px/1 adobe-stock-icons;
    text-rendering: auto;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}
.motmot .container-none {
    display: none;
}
.motmot input {
    line-height: normal;
}
.motmot .grey.white-smoke-text {
    color: #f5f5f5;
}
.motmot .margin-bottom-xsmall {
    margin-bottom: 5px;
}
.motmot .grey.white-smoke-text {
    color: #f5f5f5;
}
.motmot .default-link {
    text-decoration: underline;
}
.motmot .cursor-pointer {
    cursor: pointer;
}
.motmot label {
    font-size: .9375rem;
    line-height: 1.25rem;
}
</style>

<div class="motmot">
    <div class="padding-xlarge margin-top-small border-dashed border-2 silver-sand-border grey white-smoke-text white-smoke">
        <div class="padding-large">
            <div class="center-align">
                <div class="container-inline-block circle circle--medium blue picton">
                    <div class="center-align padding-top-xlarge font-thin">
                        <i class="margin-bottom-small smoke-text mti-icon mti-3x mti-xlarge icon-upload-to-cloud"></i>
                        <form><input id="js-vsupload" class="container-none" type="file"></form>
                        <div class="grey white-smoke-text">
                            <div class="margin-bottom-xsmall"><span>Drag an image here</span></div><div class="margin-bottom-xsmall"><span>or</span></div><div class="margin-bottom-xsmall"><span><label for="js-vsupload" id="js-vsupload-link" class="grey white-smoke-text default-link cursor-pointer">browse</label></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>