<div itemscope itemtype="http://schema.org/Event">
    <div class="event-date" itemprop="startDate" content="2013-09-14T21:30">Sat Sep 14</div>
    <div class="event-title" itemprop="name">Typhoon with Radiation City</div>
    <div class="event-venue" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name">The Hi-Dive</span>

        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">Жлобы 10</span><br>
            <span itemprop="addressLocality">Краснодар</span>,
            <span itemprop="addressRegion">Краснодарский край</span>
            <span itemprop="telephone">+787777777</span>
        </div>
    </div>
    <div class="event-time">9:30 PM</div>

    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <div class="event-price" itemprop="price" content="13.00">$13.00</div>
        <span itemprop="priceCurrency" content="USD" />
        <a itemprop="url" href="http://www.ticketfly.com/purchase/309433">Tickets</a>
    </span>
</div>
