<div itemscope itemtype="http://schema.org/ImageObject">
  <h2 itemprop="name">Винни-Пух</h2>
  <img src=​"vinni.jpg" itemprop="contentUrl" />
  <span itemprop="description">Винни-Пух залезает на дерево.</span>
</div>



<div itemscope itemtype="http://schema.org/ImageObject">
  <h2 itemprop="name">Beach in Mexico</h2>
  <img src="mexico-beach.jpg"
  alt="Sunny, sandy beach."
  itemprop="contentUrl" />
  By <span itemprop="author">Jane Doe</span>
  Photographed in
    <span itemprop="contentLocation">Puerto Vallarta, Mexico</span>
  Date uploaded:
    <meta itemprop="datePublished" content="2008-01-25">Jan 25, 2008
  <span itemprop="description">I took this picture while on vacation last year.</span>
</div>



<div itemscope itemtype="http://schema.org/ImageObject">
  <h2 itemprop="name">Beach in Mexico</h2>
  <img src="mexico-beach.jpg" alt="" itemprop="contentUrl" />
  By <span itemprop="author">Jane Doe</span>
  Photographed in
    <span itemprop="contentLocation">Puerto Vallarta, Mexico</span>
  Date uploaded:
    <meta itemprop="datePublished" content="2008-01-25">Jan 25, 2008
  <span itemprop="description">I took this picture while on vacation last year.</span>
<!-- Note: We do not split value strings in unit and value information, since this the raw EXIF data does not provide this granularity. If you are able to separate the unit, you can use the unitText property -->
  <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
      <meta itemprop="name" content="Exposure Time">
      <meta itemprop="value" content="1/659 sec.">
  </div>
  <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
      <meta itemprop="name" content="FNumber">
      <meta itemprop="value" content="f/4.0">
  </div>
  <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
      <meta itemprop="name" content="MaxApertureValue">
      <meta itemprop="value" content="2.00">
  </div>
  <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
      <meta itemprop="name" content="Metering Mode">
      <meta itemprop="value" content="Pattern">
  </div>
  <div itemprop="exifData" itemscope itemtype="http://schema.org/PropertyValue">
      <meta itemprop="name" content="Flash">
      <meta itemprop="value" content="Flash did not fire.">
  </div>
</div>



<div itemid="http://videolectures.net/iswc2013_guha_tunnel/" itemscope itemtype="http://schema.org/VideoObject">
  <h1 itemprop="name">Light at the End of the Tunnel</h1>
  <p>Author:
    <div itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span itemprop="name">Ramanathan V. Guha</span>
    </div>
  </p>
  <video controls>
    <source src="http://videolectures.net/iswc2013_guha_tunnel/" />
  </video>
  <p>Youtube Like Count:
    <div itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
      <div itemprop="interactionService" itemscope itemid="https://www.youtube.com" itemtype="http://schema.org/Website">
        <meta itemprop="name" content="YouTube" />
      </div>
      <link itemprop="interactionType" href="http://schema.org/LikeAction"/>
      <span itemprop="userInteractionCount">512</span>
    </div>
  </p>
  <p>Twitter Favorite Count:
    <div itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
      <div itemprop="interactionService" itemscope itemid="https://www.twitter.com" itemtype="http://schema.org/SoftwareApplication">
        <meta itemprop="name" content="Twitter" />
      </div>
      <link itemprop="interactionType" content="https://schema.org/LikeAction"/>
      <span itemprop="userInteractionCount" content="1024">1,024</span>
    </div>
  </p>
  <p>Twitter Tweet Count:
    <div itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
      <div itemprop="interactionService" itemscope itemid="https://twitter.com" itemtype="http://schema.org/SoftwareApplication">
        <meta itemprop="name" content="Twitter" />
      </div>
      <link itemprop="interactionType" href="http://schema.org/ShareAction"/>
      <span itemprop="userInteractionCount" content="2345">2,345</span>
    </div>
  </p>
  <p>Facebook Like Count:
    <div itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
      <div itemprop="interactionService" itemscope itemid="https://www.facebook.com" itemtype="http://schema.org/Website">
        <meta itemprop="name" content="Facebook" />
      </div>
      <link itemprop="interactionType" href="http://schema.org/LikeAction"/>
      <span itemprop="userInteractionCount" content="1024">1024</span>
    </div>
  </p>
  <p>View Count:
    <div itemprop="interactionStatistic" itemscope itemtype="http://schema.org/InteractionCounter">
      <link itemprop="interactionType" href="http://schema.org/WatchAction"/>
      <span itemprop="userInteractionCount" content="4356">4,356</span>
    </div>
  </p>
</div>



<div itemscope itemtype="http://schema.org/AudioObject">
  <span itemprop="name"><b>12oclock_girona.mp3</b></span>
<script type="text/javascript">
  var fo = new FlashObject("http://google.com/flash/preview-player.swf",
  "flashPlayer_719", "358", "16", "6", "#FFFFFF");fo.addVariable("url","http://media.freesound.org/data/0/previews/719__elmomo__12oclock_girona_preview.mp3");fo.addVariable("autostart", "0");fo.write("flashcontent_719");
</script>
<meta itemprop="encodingFormat" content="mp3" />
 <meta itemprop="contentUrl" content="http://media.freesound.org/data/0/previews/719__elmomo__12oclock_girona_preview.mp3" />
<span class="description">
      <meta itemprop="duration" content="T0M15S" />
      <span itemprop="description">Recorded on a terrace of Girona a sunday morning</span>
</span>
</div>
