<!-- https://yandex.ru/support/webmaster/supported-schemas/questions.html -->

<div itemscope itemtype="http://schema.org/Question">
    <h1 itemprop="name">Зайцы умеют плавать?</h1>
    <div itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
        <meta itemprop="upvoteCount" content="3"/>
        <div itemprop="text">
            Превосходно плавают! Однажды, работая на небольшом острове, расположенном в Северном архипелаге Белого моря, я стал свидетелем того, как два зайца — беляка по собственной инициативе приплыли на мой остров через холодный морской пролив, шириной более трехсот метров. Попрыгали на берегу и поплыли обратно на материк.
        </div>
    </div>
    <div itemprop=" suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
        <meta itemprop="upvoteCount" content="1"/>
        <div itemprop="text">
            Если бы умели, Мазай их бы не спасал.
        </div>
    </div>
</div>
