@keyframes slideDown {
    0% {
        transform: scaleY(0);
        height: 0;
    }

    100% {
        transform: scaleY(1);
        height: 100%;
    };
}

@keyframes slideUp {
    0% {
        transform: scaleY(1);
        height: 100%;
    }

    100% {
        transform: scaleY(0);
        height: 0;
    };
}